<footer class="footer bd-gray-800">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Dashboard Free Message App</strong> por <a
                    href="https://github.com/jdcastro/basic-msj/blob/main/integrantes.md">Grupo 09 NRC 2095</a>.
                Misión TIC 2022 | Uninorte Ciclo 3
            </p>
            <p>
                <a class="icon" href="https://github.com/jdcastro/basic-msj">
                    <i class="fa-brands fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
